body{
    background-color: black;
}

*,::after,::before{
    box-sizing: border-box;
}
*{


.container{
    width: 450px;
    height: 300px;
}
#photo{
    width: 100%;
    height: 200px;
}
.card-text{
    font-size: small;
}
.bajofoto{
    display: flex;
    flex-wrap: wrap;
}
#logo {
    width: 35px;
    height: 45px;
}
.header{
    
    display: flex;
    align-items: top;
    
}
.spam{
    font-style: inherit;
}
.rigo{
    margin-right: 65%;
   
}
.puntos{
    width: 35px;
    height: 45px;

}
#cora{
    width: 45px;
    height: 45px
}
#mensaje{
    width: 45px;
    height: 45px;

}
#avion{
    width: 45px;
    height: 45px;


}
#band{
    width: 45px;
    height: 45px;
    margin-left: 445%;
}
#pp{
    width: 35px;
    height: 45px;
}